[submodule "externals/ringojs"]
	path = externals/ringojs
	url = git://github.com/ringo/ringojs.git
[submodule "externals/buildkit"]
	path = externals/buildkit
	url = https://github.com/geosolutions-it/buildkit.git
    branch = geonode-geoexplorer-buildkit
[submodule "app/static/externals/gxp"]
	path = app/static/externals/gxp
	url = https://github.com/geosolutions-it/gxp.git
	branch = geonode-geoexplorer-gxp
[submodule "app/static/externals/GeoExt"]
	path = app/static/externals/GeoExt
	url = https://github.com/geosolutions-it/geoext.git
	branch = geonode-geoexplorer-GeoExt
[submodule "app/static/externals/openlayers"]
	path = app/static/externals/openlayers
	url = https://github.com/geosolutions-it/openlayers.git
	branch = geonode-geoexplorer-ol2
[submodule "app/static/externals/PrintPreview"]
	path = app/static/externals/PrintPreview
	url = https://github.com/boundlessgeo/PrintPreview.git
[submodule "externals/stick"]
	path = externals/stick
	url = https://github.com/hns/stick.git
[submodule "externals/ringojs-fork"]
	path = externals/ringojs-fork
	url = https://github.com/geosolutions-it/ringojs.git
